<section
    class="add-note"
    [ngClass]="{ open: isOpen, 'edit-mode': noteToEdit }"
    [ngStyle]="bgc"
    (click)="isOpen = true"
    [clickOutside]="closeEditor.bind(this)"
>
<div class="scroll-wrapper">
    <input
        type="text"
        class="input title-input"
        placeholder="Title"
        [(ngModel)]="note.info.title"
    />
    <pre
        contenteditable
        class="input txt-input pre"
        [ngClass]="{empty: !note.info.txt}"
        (input)="setNoteTxt($event)"
        *ngIf="!isTodosNote; else todos"
    >{{note.info.txt}}</pre>
    <!-- <textarea
        class="clean-textarea input txt-input"
        placeholder="Take a note..."
        [(ngModel)]="note.info.txt"
        *ngIf="!isTodosNote; else todos"
        rows="1"
    ></textarea> -->
    <!-- <input
        type="text"
        class="input txt-input"
        placeholder="Take a note..."
        [(ngModel)]="note.info.txt"
        *ngIf="!isTodosNote; else todos"
    /> -->
    <!-- *ngIf="!note.info.todos?.length; else todos" -->
    <ng-template #todos>
        <todos-note
            [note]="note"
            [isEditable]="true"
            class="todos-list"
            (onSaveTodo)="focusNewTodo($event[0], $event[1])"
        ></todos-note>
        <!-- <div
            class="todos-list flex align-center"
            *ngFor="let todo of note.info.todos; index as idx"
        > -->
        <div class="todo-input">
            <svg-icon
                [icon]="{ name: 'plus', isLarge: false }"
                class="plus"
            ></svg-icon>
            <!-- *ngIf="!todo.txt" -->
            <!-- [(ngModel)]="todo.txt" -->
            <input
                (input)="editTodo(inputElement.value)"
                type="text"
                class="input txt-input todos"
                placeholder="List item"
                #inputElement
            />
        </div>
        <!-- </div> -->
    </ng-template>
</div>
    <div class="close-btn-container">
        <div
            class="icon-ctr lg flex-center"
            *ngFor="let actIcon of closeActIcons"
            (click)="actIcon.act()"
        >
            <svg-icon [icon]="{ name: actIcon.type, isLarge: true }"></svg-icon>
        </div>
    </div>
    <div class="open-btn-container">
        <div class="left">
            <div
                class="icon-ctr flex-center"
                *ngFor="let actIcon of openActIcons"
                [ngClass]="actIcon.type + '-icon'"
            >
                <!-- <button class="clean-btn"> -->
                <svg-icon
                    [icon]="{ name: actIcon.type, isLarge: false }"
                    class="svg-icon"
                    (click)="actIcon.act()"
                ></svg-icon>
                <!-- </button> -->
            </div>
        </div>
        <div class="right">
            <span (click)="closeEditor($event)">Close</span>
        </div>
        <div class="pin icon-ctr flex-center">
            <svg-icon
                [icon]="{
                    name: note.isPinned ? 'pin-full' : 'pin',
                    isLarge: true
                }"
                (click)="togglePin($event)"
            ></svg-icon>
            <!-- (click)="note.isPinned = !note.isPinned" -->
        </div>
    </div>
</section>
