<header class="flex align-center">
    <div class="left flex align-center">
        <div class="icon-ctr flex-center" (click)="toggleMenu()">
            <svg-icon
                [icon]="{ name: 'hamburger', isLarge: true }"
                class="svg-icon"
            ></svg-icon>
        </div>
        <img src="../../../assets/imgs/keep-brand.png" />
        <h2>Keeper</h2>
    </div>
    <form class="search-form flex align-center">
        <div class="icon-ctr flex-center">
            <svg-icon
                [icon]="{ name: 'search', isLarge: false }"
                class="svg-icon"
            ></svg-icon>
        </div>
        <input
            type="text"
            placeholder="Search"
            [(ngModel)]="searchTerm"
            name="input"
            (input)="search()"
        />
        <div class="icon-ctr flex-center" (click)="clearSearch()">
            <svg-icon
                [icon]="{ name: 'x', isLarge: false }"
                class="svg-icon"
            ></svg-icon>
        </div>
    </form>
    <!-- <section class="right"> -->
    <div class="user flex">
        <div class="user-img flex-center" (click)="openUserMenu()">
            <svg-icon
                *ngIf="!user || !user['imgUrl']; else userImg"
                [icon]="{ name: 'user', isLarge: true }"
                class="svg-icon"
            ></svg-icon>
            <ng-template #userImg>
                <img [src]="user['imgUrl']" />
            </ng-template>
        </div>
        <article class="user-menu" *ngIf="isUserMenuOpen" [clickOutside]="closeUserMenu.bind(this)">
            <main class="flex flex-col">
                <div class="user-profile flex align-center">
                    <svg-icon
                        *ngIf="!user || !user['imgUrl']; else userImg"
                        [icon]="{ name: 'user', isLarge: true }"
                        class="svg-icon"
                    ></svg-icon>
                    <ng-template #userImg>
                        <img [src]="user['imgUrl']" />
                    </ng-template>
                    <!-- <img [src]="user['imgUrl']" /> -->
                    <div class="details">
                        <h5>{{ user["name"] }}</h5>
                        <p>{{ user["email"] }}</p>
                    </div>
                </div>
                <div class="login flex align-center">
                    <svg-icon
                        [icon]="{ name: 'user-add', isLarge: true }"
                        class="svg-icon"
                    ></svg-icon>
                    <h4>Log in to another account</h4>
                </div>
            </main>
            <footer class="login flex align-center">
                <svg-icon
                    [icon]="{ name: 'logout', isLarge: true }"
                    class="svg-icon"
                ></svg-icon>
                <h4>Sign out</h4>
            </footer>
        </article>
    </div>
    <!-- </section> -->
    <nav>
        <a routerLink="/"></a>
        <a routerLink="/"></a>
    </nav>
</header>
