<section class="note-list">
    <!-- <h3 class="notes-sep">PINNED</h3> -->
    <ngx-masonry
        [options]="masonryOptions"
        [ordered]="true"
        style="margin: 70px 0; min-width: 500px"
    >
        <h3 class="notes-sep">PINNED</h3>
        <note-preview
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let note of pinnedNotes; trackBy: trackByFn"
            [note]="note"
        ></note-preview>
    </ngx-masonry>
    <ngx-masonry
        [options]="masonryOptions"
        style="margin: 70px 0; min-width: 500px"
        [ordered]="true"
    >
        <h3 class="notes-sep">OTHERS</h3>
        <note-preview
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let note of unpinnedNotes"
            [note]="note"
        ></note-preview>
    </ngx-masonry>
</section>
<!-- <section class="note-list">
    <note-preview *ngFor="let note of notes" [note]="note"></note-preview>
</section> -->
