<div class="preview-wrapper" [class.curr-note]="isCurrNote">
    <div
        class="check-note flex-center"
        (mouseover)="isShown = true"
        (mouseleave)="isShown = false"
    >
        <svg-icon
            [icon]="{ name: 'check-circle', isLarge: true }"
            (click)="toggleCheck()"
        ></svg-icon>
    </div>
    <!-- [style]="{ background: bgc }" -->
    <article
        class="note-preview"
        [class.shown]="isShown"
        [ngClass]="isImgOnly"
        [class.curr-note]="isCurrNote"
        [moveModalToCenter]="isCurrNote"
        (click)="openEditModal($event.currentTarget)"
        [ngStyle]="bgc"
    >
        <!-- [moveToCenter]="isCurrNote" -->
        <div
            class="pin icon-ctr flex-center"
            [ngClass]="{ dark: isDarkImg }"
            (click)="togglePin()"
        >
            <!-- <div class="dark-pin"></div> -->
            <div class="dark-pin" *ngIf="isDarkImg; else pin"></div>
            <ng-template #pin>
                <svg-icon
                    [icon]="{
                        name: note.isPinned ? 'pin-full' : 'pin',
                        isLarge: true
                    }"
                ></svg-icon>
            </ng-template>
        </div>
        <!-- <section class="media"> -->
        <img
            *ngIf="note.media?.type === 'img'"
            class="note-img"
            src="{{ note.media.url }}"
        />
        <audio
            *ngIf="note.media?.type === 'audio'"
            controls
            src="/media/cc0-audio/t-rex-roar.mp3"
        ></audio>
        <!-- </section> -->
        <main class="note-main" [ngSwitch]="note.type">
            <header class="note-header flex align-center">
                <h1 *ngIf="note.info.title">{{ note.info.title }}</h1>
            </header>
            <section class="note-content">
                <pre
                    *ngIf="note.info.txt"
                    [ngClass]="{ 'media-note': note.media }"
                    >{{ note.info.txt }}</pre
                >
                <todos-note *ngIf="note.info.todos" [note]="note"></todos-note>
            </section>
        </main>
        <section class="labels flex" *ngIf="note.labels?.length">
            <div class="label flex-center" *ngFor="let label of note.labels" (mouseover)="setSpanWidth()">
                <span class="label-name" #labelSpan>{{ label.name }}</span>
                    <svg-icon
                        class="label-close"
                        [icon]="{ name: 'x-thin', isLarge: false }"
                        (click)="removeLabel(label.id, $event)"
                    ></svg-icon>
            </div>
        </section>
        <footer class="note-footer flex space-between">
            <div class="icon-ctr flex-center" *ngFor="let act of actIcons">
                <svg-icon
                    [icon]="{ name: act.type, isLarge: false }"
                    (click)="act.act()"
                    [title]="act.title"
                ></svg-icon>
            </div>
        </footer>
        <h2 class="empty-note" *ngIf="isEmptyNote">Empty note</h2>
    </article>
    <!-- <article class="background-modal" [ngClass]="{open: isPaletteOpen}" [clickOutside]="closePalette.bind(this)">
        <div class="bg-options colors flex justify-center">
            <div class="option" *ngFor="let color of colors" [ngStyle]="{background: color.color}" [title]="color.name" 
                (click)="pickBg(color.color, 'backgroundColor')" [ngClass]="{picked: color.color === note.style.backgroundColor}">
                <svg-icon *ngIf="!color.color" class="no-color default-icon" [icon]="{ name: 'no-color' }"></svg-icon>
                <svg *ngIf="color.color === note.style.backgroundColor" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="m423.231 746.153 268.922-268.922L650 435.078 423.231 661.847l-114-114L267.078 590l156.153 156.153Zm56.836 209.846q-78.836 0-148.204-29.92-69.369-29.92-120.682-81.21-51.314-51.291-81.247-120.629-29.933-69.337-29.933-148.173t29.92-148.204q29.92-69.369 81.21-120.682 51.291-51.314 120.629-81.247 69.337-29.933 148.173-29.933t148.204 29.92q69.369 29.92 120.682 81.21 51.314 51.291 81.247 120.629 29.933 69.337 29.933 148.173t-29.92 148.204q-29.92 69.369-81.21 120.682-51.291 51.314-120.629 81.247-69.337 29.933-148.173 29.933Z"/></svg>
            </div>
        </div>
        <div class="bg-options imgs flex justify-center">
            <div class="option" *ngFor="let image of images" [ngStyle]="{background: 'url(' + image.smallUrl + ')'}" [title]="image.name" 
                (click)="pickBg(image.url, 'backgroundImg')" [ngClass]="{picked: image.url === note.style.backgroundImg}">
                <svg-icon *ngIf="!image.url" class="no-img default-icon" [icon]="{ name: 'no-img' }"></svg-icon>
                <svg *ngIf="image.url === note.style.backgroundImg" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="m423.231 746.153 268.922-268.922L650 435.078 423.231 661.847l-114-114L267.078 590l156.153 156.153Zm56.836 209.846q-78.836 0-148.204-29.92-69.369-29.92-120.682-81.21-51.314-51.291-81.247-120.629-29.933-69.337-29.933-148.173t29.92-148.204q29.92-69.369 81.21-120.682 51.291-51.314 120.629-81.247 69.337-29.933 148.173-29.933t148.204 29.92q69.369 29.92 120.682 81.21 51.314 51.291 81.247 120.629 29.933 69.337 29.933 148.173t-29.92 148.204q-29.92 69.369-81.21 120.682-51.291 51.314-120.629 81.247-69.337 29.933-148.173 29.933Z"/></svg>
            </div>
        </div>
    </article> -->
    <pallete-modal
        class="preview-modal"
        [ngClass]="{ open: isPaletteOpen }"
        *ngIf="isPaletteOpen"
        [note]="note"
        (onUpdateNote)="updateNote($event[0], $event[1])"
        (onClose)="closePalette()"
    ></pallete-modal>
    <labels-dropdown
        [note]="note"
        class="preview-modal labels-dropdown"
        [class.open]="isLabelsModalOpen"
        (onClose)="closeLabels()"
    ></labels-dropdown>
    <input type="file" hidden accept="image/*" (change)="handleImage($event)" multiple="false" #fileInput>
</div>
