<ul class="todos-list clean-list" [ngClass]="{ editable: isEditable }">
    <li
        *ngFor="let todo of sortedTodos; index as idx"
        class="todo flex align-center"
        [ngClass]="{ done: todo.doneAt }"
    >
        <div
            class="seperator"
            *ngIf="todo.txt === 'seperator-div'; else todoRef"
        ></div>
        <ng-template #todoRef>
            <svg-icon
                class="checkbox"
                (click)="toggleTodo($event, todo.id)"
                [icon]="{
                    name: todo.doneAt ? 'checkbox-checked' : 'checkbox',
                    isLarge: false
                }"
            ></svg-icon>
            <p *ngIf="!isEditable || todo.doneAt">{{ todo.txt }}</p>
            <!-- <form (submit)="saveTodo(idx, todo)" class="todo-form"> -->
            <form
                class="todo-form"
                *ngIf="isEditable && !todo.doneAt"
                (ngSubmit)="saveTodo(idx)"
                (keydown)="saveTodo1($event)"
                >
                <input
                    [(ngModel)]="todo.txt"
                    type="text"
                    name="name"
                    class="input todo-input"
                    (focus)="setCurrInput(idx)"
                    (keydown)="onBackspace($event, idx)"
                    #todoInput
                />
                <svg-icon
                class="x"
                (click)="removeTodo(idx)"
                [icon]="{
                    name: 'x',
                    isLarge: false
                }"
            ></svg-icon>
            </form>
        </ng-template>
    </li>
</ul>
