.icon-ctr {
    width: 34px;
    height: 34px;
    margin: 0 3px;
    border-radius: 50%;
    opacity: 0.54;
    cursor: pointer;
    transition: 0.2s;
    &.lg {
        width: 48px;
        height: 48px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 1px transparent;
        opacity: 0.87;
    }
}

.dark-pin {
    width: 24px;
    height: 24px;
    background-image: url("https://res.cloudinary.com/dvirco123/image/upload/v1671728506/Keep-Mail/pin-for-dark-bgc_nvc6vi.png");
    background-size: cover;
}

.search-icon {
    opacity: 0.54;

    svg {
        width: 15px !important;
        height: 15px !important;
    }
}
